@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	min-height: 100vh;
	gap: 1.7rem;
}

.img-container {
	overflow: hidden;
	position: relative;
}

.img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Flex box inside the img-container to wrap the title and the button */

.elements-box {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.elements-box p {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-bottom: 1.5rem;
}

.elements-box svg:hover {
	transform: scale(1.2);
	opacity: 1;
}

.elements-box svg {
	width: 134px;
	cursor: pointer;
	transition: all 0.3s ease-out;
	-webkit-tap-highlight-color: transparent;
	opacity: 0.4;
}

.pause-button,
.hidden {
	display: none;
}
